[Unit]
Description=An online photo manager that works for you.
After=syslog.target
After=network.target

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User=coalesce
Group=coalesce
WorkingDirectory=/usr/share/coalesce
ExecStart=/usr/bin/coalesce
Restart=always
Environment=USER=coalesce HOME=/usr/share/coalesce

[Install]
WantedBy=multi-user.target
