[Unit]
Description=Fast multi-user blogging cms.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/coalesce -cfg=/etc/coalesce.conf
Restart=always

[Install]
WantedBy=multi-user.target
Alias=coalesce.service
