{{ define "img/home.html" }}
<!DOCTYPE html>
<html lang="en">

	{{ template "misc/header.html" .}}

<body>

	{{ template "misc/navbar.html" . }}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

				<section id="photos">
				{{ range $k, $v := .List }}
					<li>
						<a href="/img/view/{{ $v.Id.Hex }}">
							<img src="/img/thumb/{{ $v.Id.Hex }}">
						</a>
					</li>
				{{ end }}
				</section>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
				{{ template "misc/upload-img.html" . }}

				{{ template "misc/tags.html" . }}
                
				{{ template "misc/widget.html" . }}
			</div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

		{{ template "misc/footer.html" . }}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
{{ end }}
