{{ define "posts/new.html" }}
{{ template "misc/header.html" . }}		
{{ template "misc/menu.html" . }}
<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>New Post</h1>
	</div>
	<div class="inner">
		<form method="post" action="/posts/new">

			<label for="title">Title</label>
			<input type="text" name="title" id="title" required>

			<label for="body">Body (markdown)</label>
			<textarea id="body" name="body" required></textarea>

			<button type="submit">Submit</button>
		</form>
	</div>
</div>
{{ template "misc/footer.html" . }}
{{ end }}
