{{ define "posts/page.html" }}
<!DOCTYPE HTML>
<html>
{{ template "misc/header.html" . }}
<body>
  {{ template "misc/menu.html" . }}
  <h1>Posts</h1>
  {{ range $k, $v := .Posts }}
  <a href="/posts/view/{{ $v.Postid }}">{{ $v.Title }} </a>
  <span style="float: right;">{{ $v.Username }}, {{ $v.PostedNice }}</span>
  <br>
  {{ end }}
<footer>
  {{ if gt .Site.Prev -1 }}
  <a href="/posts?p={{ .Site.Prev }}" style="float: left;">Prev</a>
  {{ end }}
  {{ if gt .Site.Next -1 }}
  <a href="/posts?p={{ .Site.Next }}" style="float: right;">Next</a>
  {{ end }}
</footer>
</body>
</html>
{{ end }}
