{{ define "posts/view.html" }}
{{ template "misc/header.html" . }}		
{{ template "misc/menu.html" . }}
<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
			<h1>{{ .Post.Title }}</h1>
			<p>{{ .Post.BodyHTML }}</p>
		</header>
		<p>
		Tags: {{ range $k, $v := .Post.Tags }}{{ $v }}, {{ end }}
		</p>
	</div>

	<br>
	<div class="inner">
		<header>
			<h2>Comments</h2>
		</header>
		<p>
		<form method="post" action="/comments/new">
			<input type="hidden" name="postid" id="postid" value="{{ .Post.Id.Hex }}">

			<label for="body">Body</label>
			<textarea id="body" name="body" required></textarea>

			<button type="submit">Submit</button>
		</form>
		</p>
		{{ range $k, $v := .Comments }}
			{{ range $i := N $v.Depth}}
			    &nbsp;
			{{ end }}
			<div>
			<strong>{{ $v.Author }} @ {{ $v.Timestamp }}</strong>
			<p>{{ $v.Body }}</p>
			</div>
		{{ end }}
	</div>
</div>
{{ template "misc/footer.html" . }}
{{ end }}
