{{ define "auth/register.html" }}
<!DOCTYPE HTML>
<html>
{{ template "misc/header.html" . }}
<body>
{{ template "misc/menu.html" . }}
<h1>Register</h1>
<form method="post" action="/auth/register">
  <h1><label for="username">Username</label>
  <input type="text" name="username" id="username" required></h1>
  <h1><label for="password">Password</label>
  <input type="password" name="password" id="password" required></h1>
  <h1><button type="submit">Register</button></h1>
</form>
</body>
</html>
{{ end }}
