{{ define "img/all.html" }}
{{ template "misc/header.html" . }}		
{{ template "misc/menu.html" . }}
<!-- Main -->
<div id="main">
	<div class="inner">
		<h2>All Images</h2>
	</div>
	{{ range $k, $v := .Imgs }}
	<div class="inner">
		{{ $v.Filename }} -- <a href="/img/view/{{ $v.Id.Hex }}">Full</a> <a href="/img/thumb/{{ $v.Id.Hex }}">Thumb</a> <a href="/img/del/{{ $v.Id.Hex }}" onclick="return confirm('Are you sure?')">Delete</a>
	</div>
	{{ end }}
</div>
{{ template "misc/footer.html" . }}
{{ end }}
