{{ define "img/home.html" }}
{{ template "misc/header.html" . }}		
{{ template "misc/menu.html" . }}
<!-- Main -->
<div id="main">
	<div class="inner">
		<section>
			<div class="box alt">
				<div class="row uniform">

					{{ range $k, $v := .List }}
					<div class="4u"><span class="image fit"><a href="/img/view/{{ $v.Id.Hex }}"><img src="/img/thumb/{{ $v.Id.Hex }}"></a></span></div>
					{{ end }}
				</div>
			</div>
		</section>
	</div>
</div>
{{ template "misc/footer.html" . }}
{{ end }}
